*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #D5D6E1;
}
